<div class="jumbotron">
  <center><h1>Initial Welcome<br/></h1>
    <h4><small>Please enter your credentials to log into the system.</small></h4>

    <form class="form-group row" id="login-credentials">
      <div class="col-sm-6 col-sm-offset-3">
         <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
            <input type="text" class="form-control" placeholder="Username">
        </div>
      </div>

      <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
           <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
           <input type="password" class="form-control" placeholder="Password">
       </div>
     </div>
   </form>

    <a href="#/departments" class="btn btn-success">SIGN-IN</a><br/>
  </center>
</div>
