<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <div class="dropzone" options="dzOptions" file="file" file-name="fileName" callbacks="dzCallbacks" ng-dropzone></div> <br/>
    </div>

    File name is: {{fileName}} <br/><br/>

    <form class="form-group" ng-submit="fileUpload(newFile)">
      <div class="form-group">
        <label>Title: </label>
        <input type="text" ng-model="newFile.fileName" class="form-control" size="50" placeholder="Name of document"/>
      </div>

      <div class="form-group">
        <label>Status: </label>
        <select class="form-control">
          <option>New</option>
          <option>Pending</option>
          <option>In Progress</optionn>
          <option>Needs Approval</option>
          <option>On Hold</option>
          <option>Approved</option>
        </select>
      </div>

      <div class="form-group">
        <label>Comments:</label>
        <textarea class="form-control" ng-model="newFile.comments" rows="5" placeholder="Include any comments needed"></textarea>
      </div>

      <div class="form-group">
        <label>E-mail Notification:</label>
        <input type="radio" name="optradio"> Yes</input>
        <input type="radio" name="optradio"> No</input>
      <div>

      <button type="submit" class="btn btn-primary" id="uploadButton" name="upload" value="Upload">Upload</button>
    </form>
  </div>
</div>
