<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <div class="dropzone" options="dzOptions" file="file" file-name="fileName" callbacks="dzCallbacks" ng-dropzone></div> <br/>
    </div>

    <form class="form-group" ng-submit="fileUpload(newFile)">
      <div class="form-group">
        <label>Title: </label>
        <input type="text" ng-model="newFile.fileName" value="{{nameOfFile}}" class="form-control" size="50" placeholder="{{nameOfFile}}" disabled/>
      </div>

      <!-- File name is: {{newFile.fileName}} <br/><br/> -->

      <div class="form-group">
        <label>Status: </label>
        <select ng-model="newFile.status" class="form-control">
          <option>New</option>
          <option>Pending</option>
          <option>In Progress</option>
          <option>Needs Approval</option>
          <option>On Hold</option>
          <option>Approved</option>
        </select>
      </div>

      <!-- Status chosen is: {{newFile.status}} <br/><br/> -->

      <div class="form-group">
        <label>Comments:</label>
        <textarea class="form-control" ng-model="newFile.comments" rows="5" placeholder=""="Include any comments needed"></textarea>
      </div>

      <!-- Comments value: {{newFile.comments}} -->

      <div class="form-group">
        <label>E-mail Notification:</label>
        <input type="radio" name="optradio"> Yes</input>
        <input type="radio" name="optradio"> No</input>
      <div>

      <button type="submit" class="btn btn-sm btn-primary" id="uploadButton" name="upload" value="Upload">Upload</button>
    </form>

    <br/><br/>Current Table of Files: <pre>{{fileList | json}}</pre>

  </div>
</div>
