<div class ="container">
<h1 class = "display-3 breadcrumb"> Billy Bob's Profile </h1>
<div class = "col-md-4">

<table class="table table-bordered table-striped ">
<tr>
    <th>Name</th>
    <td>Billy Bob</td>
  </tr>
  <tr>
    <th>CIN</th>
    <td>304******</td>
  </tr>
  <tr>
    <th>Username</th>
    <td>bbob</td>
  </tr>
  <tr>
    <th>Primary Email</th>
    <td>random@gmail.com</td>
  </tr>
  <tr>
    <th>Cell Phone</th>
    <td>(123) 456-7891</td>
  </tr>
  <tr>
    <th>Work Phone</th>
    <td>(098) 765-4321 ext 0912</td>
  </tr>
</table>
</div>
</div>
