<h3>Here are the list of departments in CalStateLA:</h3><br/>

<h4>College of Arts and Letters <small><a ng-init="toggle=false" ng-click="toggle = !toggle">
    <b ng-if="toggle == true">Hide Majors</b>
    <b ng-if="toggle == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="art-depts" ng-show="toggle">
  <a href="#/arts-and-letters">Art</a><br/>
  <a href="#chinese">Chinese</a><br/>
  <a href="#">Communication Studies BA</a><br/>
  <a href="#">Communication Studies MA</a><br/>
  <a href="#">English BA-MA</a><br/>
  <a href="#">French BA</a><br/>
  <a href="#">Japanese BA</a><br/>
  <a href="#">Liberal Studies BA</a><br/>
  <a href="#">Music BA-MA</a><br/>
  <a href="#">Music BM MM</a><br/>
  <a href="#">Philosophy BA-MA</a><br/>
  <a href="#">Spanish BA-MA</a><br/>
  <a href="#">Television Film and Media Studies BA</a><br/>
  <a href="#">Television Film and Theatre MFA</a><br/>
  <a href="#">Theatre Arts and Dance BA</a><br/>
  <a href="#">Theatre Arts MA</a><br/><br/>
</div>


<h4>College of Business and Economics <small><a ng-init="toggle2=false" ng-click="toggle2 = !toggle2">
    <b ng-if="toggle2 == true">Hide Majors</b>
    <b ng-if="toggle2 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="business-depts" ng-show="toggle2">
  <a href="#">Accountancy MS</a><br/>
  <a href="#">Business Administration BS-MS-MBA</a><br/>
  <a href="#">Computer Information Systems BS</a><br/>
  <a href="#">Economics BA-MS</a><br/>
  <a href="#">Health Care Management</a><br/>
  <a href="#">Information Systems</a><br/><br/>
</div>


<h4>Charter College of Education <small><a ng-init="toggle3=false" ng-click="toggle3 = !toggle3">
    <b ng-if="toggle3 == true">Hide Majors</b>
    <b ng-if="toggle3 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="edu-depts" ng-show="toggle3">
  <a href="#">Counseling MS</a><br/>
  <a href="#">Education MA</a><br/>
  <a href="#">Educational Administration MA</a><br/>
  <a href="#">Educational Leadership Ed. D.</a><br/>
  <a href="#">Rehabilitation Counseling MS (an Accredited option within Counseling)</a><br/>
  <a href="#">Rehabilitation Services BS</a><br/>
  <a href="#">Special Education MA PhD (joint w/ UCLA)</a><br/>
  <a href="#">Teaching Education to Speakers of Other Languages (TESOL) MA</a><br/>
  <a href="#">Urban Learning BA</a><br/>
</div>


<h4>College of Engineering, Computer Science, and Technology <small><a ng-init="toggle4=false" ng-click="toggle4 = !toggle4">
    <b ng-if="toggle4 == true">Hide Majors</b>
    <b ng-if="toggle4 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="ecst-depts" ng-show="toggle4">
  <a href="#">Aviation Adminstration BS</a><br/>
  <a href="#">Civil Engineering BS-MS</a><br/>
  <a href="#">Computer Science BS-MS</a><br/>
  <a href="#">Electrical Engineering BS-MS</a><br/>
  <a href="#">Fire Protection Adminstration and Technology BS</a><br/>
  <a href="#">Graphic Communications BS</a><br/>
  <a href="#">Industrial and Technical Studies MA</a><br/>
  <a href="#">Industrial Technology BS</a><br/>
  <a href="#">Mechanical Engineering BS-MS</a><br/>
</div>


<h4>College of Human Health and Services <small><a ng-init="toggle5=false" ng-click="toggle5 = !toggle5">
    <b ng-if="toggle5 == true">Hide Majors</b>
    <b ng-if="toggle5 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="health-depts" ng-show="toggle5">
    ....etc<br/><br/>
</div>


<h4>College of Natural and Social Sciences <small><a ng-init="toggle6=false" ng-click="toggle6 = !toggle6">
    <b ng-if="toggle6 == true">Hide Majors</b>
    <b ng-if="toggle6 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="science-depts" ng-show="toggle6">
    ....etc<br/><br/>
</div>


<h4>Interdisciplinary Program <small><a ng-init="toggle7=false" ng-click="toggle7 = !toggle7">
    <b ng-if="toggle7 == true">Hide Majors</b>
    <b ng-if="toggle7 == false">Show Majors</b>
  </a></small></h4>

<hr/>

<div class="interdisciplinary-depts" ng-show="toggle7">
    ....etc<br/><br/>
</div>
