.art-depts, .business-depts, .edu-depts, .ecst-depts, .health-depts,
  .science-depts, .interdisciplinary-depts{
    padding-left: 15px;
}

.col-sm-6{
  padding: 8px;
}

.dropzone{
  text-align: center;
}

.form-check-input{
  display: block;
  text-align: center;
  vertical-align: middle;
}

h2, h3, h4{
  color: #003237;
  padding-left: 8px;
}

.img-circle{
  padding-right: 1px;
}

.search-filter{
  padding-right: 15px;
  float:right;
}

table-responsive{
  padding: 50px;
}

textarea {
  resize: vertical;
}

th{
  /*vertical-align: middle;*/
  text-align: center;
}

.upload-file{
  padding: 10px;
}

.user-space{
  margin-top: -6px;
}
